### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/

# Archivos de clases y compilados
*.class
*.jar
*.war
*.ear

# Archivos temporales y de sistema
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos de configuración de entorno
.env

# Archivos de configuración de IDE
*.iml
*.ipr
*.iws
/.vscode/

# Carpetas de compilación
build/
target/

# Dependencias de Node (si existieran)
node_modules/

# Salida de pruebas
test-output/

# Archivos de respaldo
*.bak
*.old


